
services:
  slideshow_web:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        buildno: 1
    image:
      slideshow_web
    container_name: slideshow_web
    env_file:
      - .env
    command:
      sh /start.sh
#    entrypoint:
#       serve -s build
#        npm start
    #   /bin/ # For the dev server
    environment:
      # Add the following line to your /etc/profile:
      # HOST_IP=`ip route | grep default | awk '{print $9}'`
      - DOCKER_HOST_IP=${HOST_IP} 
      - CHOKIDAR_USEPOLLING=true
    ports:
     - 8084:3000
     - 8085:5000
    volumes:
      - '/app/node_modules'
      - /home/benjamin/git_repos/net_slideshow/:/app
    networks:
      - traefik_proxy
    restart: always
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.slider.rule=Host(`${WEBAPP_DOMAIN}`)"
      - "traefik.http.routers.slider.tls.certresolver=leresolver"
      - "traefik.http.routers.slider.entrypoints=websecure"
      - "traefik.http.services.slider.loadbalancer.server.port=5000"
      # - "traefik.http.services.slider.loadbalancer.server.port=3000"
      - "traefik.http.services.slider.loadbalancer.healthcheck.hostname=${WEBAPP_DOMAIN}"
      - "traefik.http.middlewares.slider.redirectscheme.scheme=https"
      - "traefik.http.middlewares.slider.redirectscheme.permanent=true"


networks:
  default: 
    driver: bridge
  traefik_proxy:
    external: true
